/*Margins*/
#resume {
    margin-left: 10px;
    padding-left: 20px;
    border-left-color: #006341;
    border-left-style: solid;
    border-left-width: 10px;
    margin-right: 10px;
    padding-right: 20px;
    border-right-color: #006341;
    border-right-style: solid;
    border-right-width: 5px;
}
/*Timer styles*/
#timer0 {
    height: 30px;
    position: relative;
    background-color: #ddd;
}
#timer1 {
    background-color: #006341;
    width: 10px;
    height: 30px;
    position: absolute;
}

/* Wordfind related styles*/
#puzzle-container {
    border: 1px solid black;
    padding: 20px;
    float: left;
    margin: 30px 20px;
    border-radius: 25px;
}
#puzzle-container div {
    width: 100%;
    margin: 0 auto;
}
/* style for each square in the puzzle */
#puzzle-container .puzzleSquare {
    height: 30px;
    width: 30px;
    text-transform: uppercase;
    background-color: white;
    border: 0;
    font: 1em sans-serif;
}
#puzzle-container button::-moz-focus-inner {
    border: 0;
}
/* indicates when a square has been selected */
#puzzle-container .selected {
    background-color: orange;
}
/* indicates that the square is part of a word that has been found */
#puzzle-container .found {
    background-color: blue;
    color: white;
}
#puzzle-container .solved {
    background-color: purple;
    color: white;
}
/* indicates that all words have been found */

#puzzle-container .complete {
    background-color: #006341;
}
/**
* Styles for the word list
*/
#puzzle-words {
    padding-top: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    width: 300px;
}
#puzzle-words ul {
    list-style-type: none;
}
#puzzle-words li {
    padding: 3px 0;
    font: 1em sans-serif;
    color: white;

}
/* indicates that the word has been found */
#puzzle-words .wordFound {
    text-decoration: line-through;
    color: gray;
}
/**
* Styles for the button
*/
#solve {
    margin: 0 30px;
}

/*Animated buttons*/
.button {
    border-radius: 4px;
    background-color: #006341;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.buttonred {
    border-radius: 4px;
    background-color: #CD5C5C;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
.buttonred span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.buttonred span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.buttonred:hover span {
    padding-right: 25px;
}
.buttonred:hover span:after {
    opacity: 1;
    right: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Animation that slides the content from the right*/
.animate-right {
    position: relative;
    animation: animateright 1s
}
@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity:1
    }
}
/*Fade-in animation (display a line after an interval)*/
.item-content-body p {
    opacity: 0
}
.item-content-body p:nth-child(1) {
    animation: change 1s ease-in-out forwards;
}
.item-content-body p:nth-child(2) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 1s;
}
.item-content-body p:nth-child(3) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 2s;
}
.item-content-body p:nth-child(4) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 3s;
}
.item-content-body p:nth-child(5) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 4s;
}
.item-content-body p:nth-child(6) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 5s;
}
.item-content-body p:nth-child(7) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 6s;
}
.item-content-body p:nth-child(8) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 7s;
}
.item-content-body p:nth-child(9) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 8s;
}
.item-content-body p:nth-child(10) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 9s;
}
.item-content-body p:nth-child(11) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 10s;
}
.item-content-body p:nth-child(12) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 11s;
}
.item-content-body p:nth-child(13) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 12s;
}
.item-content-body p:nth-child(14) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 13s;
}
.item-content-body p:nth-child(15) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 14s;
}
.item-content-body p:nth-child(16) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 15s;
}
.item-content-body p:nth-child(17) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 16s;
}
.item-content-body p:nth-child(18) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 17s;
}
.item-content-body p:nth-child(19) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 18s;
}
.item-content-body p:nth-child(20) {
    animation: change 1s ease-in-out forwards;
    animation-delay: 19s;
}
@keyframes change {
    to {
        opacity: 1
    }
}

/* Custom checkbox */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create the custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
/* grey background on mouse hover */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* AC green background when box is checked */
.container input:checked ~ .checkmark {
  background-color: #006341;
}
/* checkmark (not visible if unchecked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Custom red checkbox  */
.containerred {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide default checkbox */
.containerred input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create the custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
/* grey background on mouse hover */
.containerred:hover input ~ .checkmark {
  background-color: #ccc;
}
/* AC green background when box is checked */
.containerred input:checked ~ .checkmark {
  background-color: #CD5C5C;
}
/* checkmark (not visible if unchecked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.containerred input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.containerred .checkmark:after {
  content: "X";
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /* Changed from tick to "X"
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);*/
}


 /* Style the Image Used to Trigger the Modal */
#resumeImage {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#resumeImage:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
